.vs/
Library/
TestServer/TestServer/obj/Debug/
Temp/
ProjectSettings/ProjectVersion.txt
ProjectSettings/ProjectVersion.txt
ProjectSettings/PresetManager.asset
ProjectSettings/ProjectVersion.txt
ProjectSettings/ProjectVersion.txt
Packages/manifest.json
